# Python ignores
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
.env

# Android ignores
android-sdk/.gradle/
android-sdk/**/build/
android-sdk/**/.gradle/
android-sdk/.idea/
android-sdk/local.properties
*.apk
*.aar

# System ignores
.DS_Store
Thumbs.db